/* Heavily influenced by Svbtle */
/* Author: André de Castilho Costa Pinto */


html,body {
	margin:0;
	height:100%;
	width:100%;
}

body {
	display:table;
	margin:0;
	background-color:white;
	border-top:5px solid $color_body_top_border;
}

#sidebar,#river {
	vertical-align:top;
}

#sidebar {
	position:fixed;
	top:0;
	min-height:100%;
	margin-left:0;
	padding-left:2%;
	width:25%;
	background-color:$color_sidebar_background;
	padding:2%;
	z-index:-1;
	padding-top:10%;
	max-width:450px;

	div#sidebar-content {
		margin-left:20px;
	}
}

$river_margin:29%;
#river {
	background-color:$color_main_background;
	min-height:100%;
	margin-left: $river_margin;
	position:absolute;
	border-left:1px solid $color_sidebar_border;
	display:inline-block;
	width:100%-$river_margin;
	div.content {
		padding:2% 2% 2% 5%;
	}
	article.post {
		border-bottom: 1px solid $color_post_border;
	}
}


