@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height:1;
	font-size:110%;
}

#sidebar {
	h1 {
		font-size:280%;
		line-height:1;
	}
}

#river {
	line-height:1.5;
	h1 {
		font-size:200%;
		line-height:1.1;
	}
}
