<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="André de Castilho Costa Pinto" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/stylesheets/application.css">
	</head>
	<body>
		<header id="sidebar">
			<div id="sidebar-content">
				<div id="sidebar-image"></div>
				<h1 id="blog-name">André<br/> Costa Pinto</h1>
				<p id="tagline">
					Eu mesmo.
				</p>
			</div>
			<div id="sidebar-footer">
			</div>
					
		</header>
		<section id="river" role="main">
			{{ content }}
		</section>

	</body>

</html>
