<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="André de Castilho Costa Pinto" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="../assets/stylesheets/application.css">
	</head>
	<body>
		<header id="sidebar">
			<div id="sidebar-content">
				<h1 id="blog-name">André<br/> Costa Pinto</h1>
				<p id="tagline">
					Engineer, marketing student, programmer
				</p>
			</div>
					
		</header>
		<section id="river" role="main">
			<article class="post">
			<h1>Hello, world. Uma apresentação copiada de tempos já idos</h1>
			<p>Very pleased to meet you, sir</p>
			<p>			Escrever opiniões é atitude egocêntrica. Nunca soube de motivo convincente (a não ser, claro, o salário recebido por poucos fortunados) para expor o que se pensa.</p>
			<p>
Ah! Mas nos dizem os mais românticos que não se escolhe o caminho de escritor,  se nasce escritor! Para eles,  a escrita é necessidade de primeira grandeza, equiparável às funções controladas pelo bulbo raquidiano. Um dom divino,  um corante que tinge o sangue de azul e os distingue da ralé.  Ser escritor, nesse caso, é ser humano –  escrever, respirar (em alguns casos graves em que o romantismo atinge estágios terminais, escrever é transar). Não faltam argumentos  da parte deles que sustentem tal visão- e como é difícil combatê-los, esses mestres da retórica impressa! -,   todos cheios de teses perfeitamente lógicas.  Malabarismos sintáticos (e fonéticos, nos textos mais abusados)  sobejam. Textos bem escritos com teses absurdas me irritam. Uma boca, duas orelhas, por favor. Senão não dá.

Eu discordo: não, não se nasce escritor. Se nasce pelado, careca, coberto de placenta e com um cordão umbilical roxo;  completamente burro e analfabeto. A escrita surge bem depois. Não pretendo explicar porque penso assim. Opinião pessoal, simplesmente.  Y el mayor fiscal de mis obras soy yo, dizem as más línguas.

Por discordar, creio piamente,  com fervor católico pré-reforma, que textos “de opinião” são a atitude mais auto-centrada que conheço. Acreditar que eles venham a interessar a alguém é acreditar que o mundo todo estarve (se o anglicismo me é permitido) por um pouco desses escritores. Desprovidos da desculpa clichê que diz que  ”escrever é dom divino” e que eles  são arrebatados por ímpetos criativos incontroláveis, percebe-se que não passam de opinistas de meia tijela.

E os opinistas sonham com espelhos espalhados pelo mundo. Esperam, anseiam, fantasiam com a imagem deles pregadas por aí, como cartazes subversivos no centro da cidade. Por fim, se conformam e escrevem. Compensam a falta lançando por aí partes de si em forma de textos.

Se reconhece um opinista de pronto. Vê-se logo as largas narinas dilatadas,  sobrancelhas grossas e pretas, sempre contraídas, como se as rugas na testa filtrassem o mundo, preparando-o para um contato sublime com o cérebro escondido por baixo dos cabelos bagunçados.

Não sei, e também acho que não procuro saber,  porquê cargas d’água hão tantos blogs por aí (o número de blogs é tão grande que é de bom tamanho abrir exceção e utilizar o plural, mesmo que errado),  propagando a cultura opinista aos quatro ventos e sete mares.

Hoje acordei feliz! Triste! Curioso. Acordei e esqueci de ir à escola! Trabalho! Praia. Adoro The Strokes! Of Montreal! Giovanni Pierluigi da Palestrina.

É preciso mesmo dizer que  pouco importa? Que não interessa? </p>
<p>
Os blogs, definitivamente, são a escória da literatura. E essa onda de dizer que a salvação do escritor é a liberdade de qualquer um escrever o que quiser como quiser quando quiser e usando marcas de pontuação importantes como a vírgula se quiser (e como quiser), se souber, é uma grande merda.  Mesmo.  Ficou mais difícil ler algo bom, ficou mais complicado separar o joio do trigo, nessa plantation transgênica de protoescritores. Se qualquer um pode, então por que não? Cria-se em dois minutos um blog bonitinho e vualá (escrever galicismos em francês é muito démodé)! Está criado um escritor que antigamente seria cruelmente trucidado pela seleção natural literária.

Há grande número de pessoas que credita à internet e aos blogs a criação de uma nova maneira de se escrever, um novo tipo de literatura, um “avanço”.

Novamente discordo.

O New Journalism e o Gonzo precedem cronologicamente a internet. Norman Mailer e Kurt Vonnegut não tinham blog. </p>

<hr/>
<p>
Eu poderia muito bem existir sem escrever. Não é natural essa coisa de criar, criar, criar. Nunca vi cachorro com impulsos criativos que os levassem a fazer o que quer que fosse.

Meu norte moral é a vida canina.

Mas resolvi ir contra minha maré. A partir de hoje, escrevo um blog.</p>
		</article>

		</section>

	</body>

</html>
